<ion-view view-title="TODO List">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="content">

            <ul class="list animate-fade-slide-in-right">
                <ion-item>
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                    Titel Task 1
                </ion-item>
                <ion-item>
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                    Titel Task 2
                </ion-item>
                <ion-item>
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                    Titel Task 3
                </ion-item>
                <ion-item>
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                    Titel Task 4
                </ion-item>
                <ion-item>
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                    Titel Task 1
                </ion-item>
                <ion-item>
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                    Titel Task 2
                </ion-item>
                <ion-item>
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                    Titel Task 3
                </ion-item>
                <ion-item>
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                    Titel Task 4
                </ion-item>
                <ion-item>
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                    Titel Task 1
                </ion-item>
                <ion-item>
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                    Titel Task 2
                </ion-item>
                <ion-item>
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                    Titel Task 3
                </ion-item>
                <ion-item>
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                    Titel Task 4
                </ion-item>
            </ul>


        </div>

    </ion-content>
</ion-view>
